@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: system-ui;
  background: linear-gradient(#eceef3, #fff) no-repeat;
  padding: 3% 5%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 0.4rem;
}

/* start navigation bar */
body header > a > img {
  max-height: 1.5em;
}
header {
  display: flex;
  gap: 2rem;
  margin-bottom: 7rem;
  align-items: center;
}
header nav {
  width: 95%;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}
nav ul li a {
  opacity: 0.6;
  color: #000;
  font-size: 90%;
  font-weight: 500;
}
nav ul li a:hover {
  opacity: 1;
}
button,
[role="button"] {
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #333;
  opacity: 1;
  border: 0;
  border-radius: 0.5em;
  padding: 0.7em 1.4em;
  font-weight: 550;
  display: inline-block;
}
button,
[role="button"]:hover {
  opacity: 0.9;
  background-color: #333;
}
#menu,
header nav a img,
[for="menu"] {
  display: none;
}
@media (max-width: 976px) {
  body header {
    justify-content: space-between;
    position: relative;
  }
  [for="menu"] {
    display: block;
    font-size: 20px;
  }
  header nav,
  nav ul {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }
  nav ul {
    gap: 0.7rem;
  }
  header nav {
    display: none;
  }

  #menu:checked ~ nav {
    display: block;
    width: 250px;
    margin-top: 1.54rem;
    padding: max(4%, 1.5em) 4%;
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;

    box-shadow: 0 0 0 1000em rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 0.4em;
    transition: all 0.5s ease-in-out;
  }
  #menu:checked ~ [for="menu"] > span::before {
    content: "âŒ";
    display: block;
    font-size: 25px;
  }
  .login-trynow {
    display: block;
  }
  [role="button"] {
    margin-top: 1.5rem;
    width: 100%;
  }
  header nav a img {
    max-height: 1.5em;
    display: block;
  }
}
header nav .menu-img{
    display: none;
}
/* end navigation bar */

/* Start main section */
.hero {
  margin-bottom: 8vw;
}
.stack {
  margin-bottom: 3em;
  gap: 3em;
  display: flex;
  align-items: end;
}
.stack {
  flex: 1;
}
.hero div:last-child {
  flex: 1.5;
}

main section div h1 {
  letter-spacing: -0.04em;
  max-width: 8em;
  margin: 0;
  font-size: calc(2em + 1.6vw);
  font-weight: 800;
  line-height: 1.05;
}

main section div h1 + p {
  line-height: 1.5;
  color: #777;
  max-width: 18em;
  margin: 0.5em 0 1.2em;
  font-size: calc(1.2em + 0.5vw);
  font-weight: 300;
}
.secondary {
  color: inherit;
  background-color: #fff;
  box-shadow: 0 0 0 1px #eee;
}
[role="button"] + p {
  margin-top: 3em;
  font-size: 90%;
  line-height: 1.5;
  color: #444;
}
@media (max-width: 978px) {
  .stack {
    display: block;
  }
  [role="button"] {
    width: unset;
  }
  .card + div {
    margin-top: 3rem;
  }
  header nav .menu-img{
    display: block;
    opacity: 1;
}
}

.stack > * {
  flex: 1;
}
.card {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 0.4em;
  padding: max(4%, 1.5em) 4%;
}
.card h2 {
  margin: 0;
  font-size: 1.4em;
  font-weight: 550;
  line-height: 1.3;
}
.card p {
  margin-block: 1.5rem;
  color: #444;
  font-size: 1.1em;
  line-height: 1.5;
}
/* end main section */

/* start footer section */
body > footer {
  gap: 3em;
  display: flex;
}
body {
  & > footer {
    margin: 8em 0 4em;
  }
}
body > footer h2 {
  margin: 0;
  font-size: 1.4em;
  font-weight: 550;
  line-height: 1.3;
}
body > footer {
    & > :first-child {
      flex: .5;
    }
  }
body > footer {
  & aside {
    flex: 1;
    /* flex: 2; */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2em;
    display: grid;
  }
}
body > footer > aside h3 {
  margin: 0.5em 0;
  font-size: 95%;
  font-weight: 550;
}
nav a {
  opacity: 0.6;
  color: #000;
  font-size: 90%;
  font-weight: 500;
}
body > footer {
  & a {
    padding: 0.5em 0;
    display: block;
  }
}

body > footer > aside nav{
    display: block;
}
@media (max-width: 978px) {
    body footer {
        flex-direction: column;
    }
}
/* end Footer section */
