*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    font-family: 'Open Sans', sans-serif;
    --text-color: #707070;
    --footer-icon: black;
}
html {
    scroll-behavior: smooth; /*Enable smooth scrolling */
}
body {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.01em;
}
::selection {
    background: #d3cfcf;
}
a{
    text-decoration: none;
}
@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  

 /* navbar  section no.1 */
nav{
    padding: .5rem 2rem !important;
    position: fixed;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 78;
}
   

/* Smooth transition for background color */
/* background-color: transparent;  */
/* nav {
    transition: background-color 0.3s ease;
} */
nav.scrolled {
    background-color: black;
} 
.nav-links > ul{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    flex-wrap: wrap;
}
.nav-links > ul > li{
    list-style: none;
} 

.nav-links > ul > li > a{
    font-size: 12px;
    padding: 0;
    cursor: pointer !important;
    border-bottom: 1px solid transparent;
    color: #f6f6f6;
}
.nav-links > ul > li > a:hover{
    opacity: 0.8;
}
.bii-bag{
    background-color: #fff;
    padding: 6px 17px;
    border: 1px solid transparent;
    font-size: 10px;

}
.bii-bag > a{
    color: #707070 !important;
}

/* menu  btn */
#menu, .bi-list{
    display: none;
}
@media (max-width: 998px) {
    nav {
        /* position: relative; */
        width: 100%;
    }
    .nav-links{
        display: none;
    }
    #menu:checked ~ .nav-links{
        display: block;
    }
    .bi-list{
        display: block;
        font-size: 30px;
        background-color: black;
        color: white;
    }
    #menu:checked ~ label > .bi-list::before {
        content: "\F659";
    }
    .nav-links{
        position: absolute;
        /* top: 44px; */
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 1rem;
        background-color: black;
        opacity: 0.9;
    }
    .nav-links > ul{
        padding-block: 1.7rem;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
    }
    .nav-links > ul > li{
        border-bottom: 1px solid #61545463;
        width: 100%;
        padding-bottom: 5px;
        font-weight: 600;
    }
    .product-link{
        border: none !important;
    }
    .bii-bag{
        width: fit-content !important;
    }
}
 /* End navbar  section no.1 */





 /* Hero Section  no.2 */
.hero-section{
    /* width: 100vw; */
    width: 100%;
    height: 140vh;
    background-image: url("./assist/Assist\ 02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: url("./assist/cursor-icon-zoom-header.png"),move;
    /* cursor: url("https://www.themezaa.com/html/leadgen/demo/product/images/icon/icon-move-light.png"),move; */
}
.header-container{
    width: 1190px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    animation: slideIn 1s ease forwards;

}
.header-container p{
    width: 45%;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px ;
    line-height: 28px;
}
.header-heading{
    width: 58%;
    color: #ffffff;
    font-size: 80px;
    font-weight: 700;
    line-height: 85px;
}
.purchase-btn{
    background-color: #ffffff;
    font-size: 12px;
    padding: 8px 35px;
    line-height: 18px;
    color: black !important;

    font-weight: bold;
    border: none !important;
}
.purchase-btn + a{
    margin-left: 30px;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #ffffff;
}




/* CSS for tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px){


    .header-container {
        width: 100%;
    }
    .header-container{
        padding-left: 2rem;
    }
}


/* CSS for mobile devices */
@media only screen and (max-width: 600px){
    /* body{
        background-color: red;
    } */
    .hero-section{
        width: 100%;
        height: 70vh;
    }
    .header-container{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        overflow: hidden;
    }
    .header-heading{
        width: 100%;
        font-size: 35px;
        line-height: 40px;
    }
    .header-button{
        margin-bottom: 1rem;
    }
    .header-container > p{
        width: 80%;
        font-size: 14px;
        font-weight: 500;
    }

}
 /* End hero Section  no.2 */





 /* content details section no.3 OR section no.5*/
.mian-section{
    padding-inline: 6rem;
    padding-block: 110px;
}
.containers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.containers-text{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    /* align-items: center; */
}
.containers-text > h2{
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
}

.dummy-text1 {
    font-size: 18px;
    line-height: 28px;
    color: #707070;;
}
.dummy-text2{
    font-size: 14px !important;
    line-height: 24px;
    color: #707070;;
}
.imgs > img{
    width: 600px;
}
.readint-btn{
    width: fit-content;
    font-size: 12px;
    padding: 8px 25px !important;
    line-height: 18px;
    border: 2px solid #43cbcd;;
    color: #43cbcd;;
    border-radius: 30px;
    text-decoration: none;
}



@media (max-width:980px) {
    .mian-section {
        padding-inline: 15px;
    }
    .containers{
        display: block;
    }
    .containers-text{
        width: 100%;
    }
    .containers-text > h2{
        font-size: 27px;
        line-height: 33px;
    }
    .readint-btn{
        align-self: center;
    }
    .containers-img{
        margin-top: 2rem;
    }
    .imgs img{
        width: 100%;
    }

}
 /* End content details section no.3 OR section no.5*/






/* Section no.4 */
/* headphone-container  */
.headphone-container{
    width: 100%;
    height: 20vh;
    display: flex;
    cursor: url("./assist/cursor-icon-zoom.png"),pointer;
    /* cursor: url("https://www.themezaa.com/html/leadgen/demo/product/images/icon/icon-zoom.png"), pointer; */
}
.headphone{
    min-width: 300px;
}
.headphone > img{
    width: 100%;
}


@media (max-width:980px) {
    .headphone-container{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .headphone{
        max-width: 32%;
    }
    .empty-sec {
        padding: 0% !important;
    }
}
/*End headphone-container */

/*2 headphone-container */
.empty-sec{
    padding-top: 110px ;
    padding-bottom: 110px;
}
.second-headphone{
    flex-direction: row-reverse;
}


/*End 2 headphone-container */
/* End Section no.4 */

 






/* content-section no.6 */
.container_fluid{
    display: flex;
    justify-content: space-between;
    height: 718px;
}
.container-left{
    background-color: #46eff0;
    min-width: 50vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* details */
.details-description{
    position: absolute;
    padding: 16%;
}
.description-content{
    display: flex;
    margin-bottom: 5.5%;
}    
.description-no{
    height: fit-content;
    font-size: 35px;
    font-weight: 600;
    padding-inline: 15px;
    line-height: 40px;
    color: #282828;

}
.description-text h3{
    font-size: 24px;
    line-height: 30px;
      font-weight: 500 !important;
    }
.description-text p{
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 22px 0;
    color: #282828;
}
.description-text{
    padding-inline: 15px;

}
/*End  details */

/* image container */
.container-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
    /* object-fit: none;     */
}

@media (max-width:980px) {
    .container_fluid{
        flex-wrap: wrap;
        height: auto;
    }
    .container-left{
        padding: 10.5% 0;
        width: 100%;
    }
    .details-description {
        position: relative;
        padding: 15px 0;
    }

    .description-content{
        flex-direction: column;
        align-items: center;
    } 
    .description-content{
        text-align: center;
    }
}
/* End content-section no.6 */





/* new vibrant colors section no.7 */
.new-vibrant-section{
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: white;
}
.new-vibrant-container{
    width: 1190px;
    margin: 0 auto;
    padding-block: 15px;
    
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section-title{
    text-align: center;
}

.section-title h2{
    margin-bottom: 2%;
    color: #282828;
    font-size: 35px;
    line-height: 39px;
    font-weight: 500;
}
.section-title div{
    margin: 0 auto 7% auto;
    font-size: 14px;
    line-height: 24px;
    width: 60% ;
    color: #707070;
}
.section-imgage{
    display: flex;
    gap: 4rem;
}
.section-imgage-item img{
    width: 100%;
    height: 100%;
}



@media (max-width:980px) {
    .new-vibrant-container{
        width: 100%;
    }
    .section-imgage{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .section-imgage-item{
        max-width: 50%;
        height: 300px;
    }

}
/* End new vibrant colors section no.7 */





/* Designed for sound section no.8 */
.design-section{
    /* background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)) repeat scroll 0% 0%, transparent url('./assist/Assist\ 16.jpg') repeat scroll 0% 0%; */
    background-image: url("./assist/Assist 16.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}
.design-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1190px;
}
.desgin-text{
    background: #A78A73;
    padding: 8%;
    width: 55%;
}
.desgin-text h2{
    /* font-size: 45px; */
    font-size: 50px;
    line-height: 50px;
    color: #ffffff;
    margin-bottom: 4.5%;
    font-weight: 500;
}
.desgin-text div{
    margin-bottom: 6.5%;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}
.desgin-text p{
    margin: 0 0 22px 0;
    color: #ffffff;
    font-size: 15px;
}

@media (max-width:980px) {
    .design-container{
        width: 100%;
    }
    .desgin-text{
        width: 100%;
    }

}
/* End Designed for sound section no.8 */





/* award winning sound  section no.9 */
.award-winning{
    padding-block: 60px;
}
.award-winning a img{
    width: 100%;
    height: 100%;
}
/* End award winning sound  section no.9 */





/*  doom solo section no.10 */
.doom-solo{
    width: 100%;
    height: 600px;
    background: linear-gradient(rgba(35, 31, 41, 0), rgba(35, 31, 41, 0)) repeat scroll 0% 0%, transparent url('./assist/Assist\ 18.jpg') repeat scroll 0% 0%;
    background-position: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.doom-solo a{
    width: 100%;
    display: flex;
    align-content: center;
    padding-left: 10%;


}

@media (max-width:980px){
.doom-solo{
    height: 400px;
    background-position: center center;
    background-size: cover ;
}
.doom-solo a {
    padding-left: 0%;
}
.doom-solo a img{
    width: 100%;
    height: 100%;
}

}
/* End doom solo section no.10 */




/* testimonial  section no.11 */
.testimonial-section{
    padding-block: 110px;
    user-select: none;
}
.testimonial-container{
    margin: 0 auto;
    padding: 0 15px;
    width: 1190px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    
}
.testimonial-items{
    width: 48%;
    padding-bottom: 15px;
    margin-bottom: 5.5%;
    display: flex;
}
.testimonial-img {
    width: 45%;
    text-align: center;
}
.testimonial-img img{
    max-width: 100%;
    border-radius: 100%;
    height: auto;
}
.testimonial-content{
    padding-inline: 35px;
}
.testimonial-content p{
    margin-bottom: 3.3%;
    font-size: 14px;
    line-height: 24px;
    color: #707070;

}
.testimonial-content b{
    font-weight: 600;
    color: #282828;
}

@media (max-width:980px) {
    .testimonial-container{
        width: 100%;
    }
    .testimonial-items{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
/* End testimonial  section no.11 */




/* subscribe-section no.12 */
.subscribe-section{
    padding-block: 60px;
    background-color: #47DF84;;
}
.subscribe-container{
    width: 1190px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.subscribe-text{
    margin-block: 2%;
    height: 73px;
    color: #ffffff ;
    display: flex;
    align-items: center;
    
}
.subscribe-text h3{
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
}

.subscribe-email{
    border-color: #fff;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;

}

.subscribe-email input{
    margin: 0;
    padding: 19px 25px;
    outline: none;
    border: none;
    font-size: 14px;
}
.subscribe-email input[type="submit"]{
    font-size: 15px;
    cursor: pointer;
    background-color: #fcf4f4dc;;
}



@media (max-width:980px) {
    .subscribe-container{
        padding-inline: 2rem;
        gap: 1rem;
        width: 100%;
    }
}
/* End subscribe-section no.12 */





/*  feature box  section no.13 */
.feature-section{
    padding-inline: 6rem;
    padding-block: 110px;
}
.feature-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.items-img{
    width: 100%;
}
.items-img > img{
    max-width: 300px;
    max-height: 300px;
}
.items-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: .7rem;
}
.items-text > b{
    font-weight: 300;
}
.items-text > span{
    color: var(--text-color);
    font-weight: 200;
}
.items-text > p{
    margin-bottom: 15px;
}
.items-text > p > b{
    margin-right: 10px;
}


@media (max-width:980px) {
.containers{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.items {
    text-align: center;
}  
.items-img > img {
    width: 100%;
    height: 100%;
}

}
/* End feature box  section no.13 */






/* Footer section no.14 */
.Footer{
    background-color: #f6f6f6;
    padding-bottom: 0;
    position: relative;
}
.Footer > footer{
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* flex-direction: column; */
}
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.social-media-footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 23%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}
.social-media-footer > p , .footer-container > p, .copy-right > p{
    color: var(--text-color);
    font-size: 13px;
}
.social-media-icon{
    display: flex;
    gap: 2rem;
}
.social-media-icon > a > i{
    color: var(--footer-icon) !important;
    /* color: red; */
}
.footer-container >  img{
    color: #707070;
    width: 160px;
}
.footer-logo-text{
    width: 70%;
}

.footer-container{
    margin: 1.5rem;
    /* min-width: 15%; */
}
.footer-email{
    display: flex;
    align-items: center;
    
}
.footer-email > input{
    margin: 0 0 0 0px;
    padding: 8px 40px 9px 20px !important;
    border-radius: 4px 0 0 4px;
    border: none;
    font-size: 13px !important;
    outline: none;
}
.bi-envelope{
    padding-block: 5px;
    padding-right: 20px ;
    font-size: 20px;
    background-color: white;
}
.copy-right{
    border-top: .1px solid #707070;
    padding-block: 45px;
    text-align: center;
}

@media (max-width:980px) {
    .social-media-footer{
        width: 100%;
    }

}
/* End footer section no.14 */





/* buy section no.15  */
.buy-container{
    width: fit-content;
    position: fixed;
    top: 100px;
    right: 0;
}
.buy-items{
    background-color: rgba(50,50,50,.8);;
    margin: 15px 0;
    border-radius: 5px 0 0 5px;
    height: 40px;
    display: flex;
    align-items: center;

    position: relative;
    right: -75%;
    transition: right 0.3s ease; /* if-width Time Timing-fun */
    
}
.buy-items:hover{
    right: 0%;
}
.buy-items > a{
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 8px 15px;
    display: flex;
    align-items: center;
}
.buy-items > a > img{
    color: black;
    padding-right: 18px;
}
/* End buy section no.15  */
